.material-icons{
    font-size: 1rem;
    line-height: 1,5rem;
}
p{
    line-height: 1,5rem;
}
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body{
    font-family: arial, sans-serif ;
    color: darkslategray;
    font-size: 17px;
}
h1{
    text-align: center;
    font-family: arial, sans-serif ;
    color: darkslateblue;
    font-size: 30px;
    font-family: "Audiowide"
}

h2{
    font-family: arial, sans-serif ;
    color: darkblue;
    font-size: 24px;
    background-color: lightskyblue;
    border-radius: 5px;
}
h2 a:link, h2 a:visited{
    color:lightskyblue;
    text-decoration: none;
}
h2:hover a{
color: darkblue;
}
ul{
    list-style-type: disc;
}
ul a:hover{
    cursor: pointer;
    text-decoration: underline;
    color:darkblue;
}

a:visited{
    text-decoration: none;
    color:darkblue;
}
a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

#copyright{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}